// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import kotlin.Any
import kotlin.String
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response
import org.jellyfin.apiclient.model.api.BrandingOptions

class BrandingApi(
	private val api: KtorClient
) {
	/**
	 * Gets branding configuration.
	 */
	suspend fun getBrandingOptions(): Response<BrandingOptions> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<BrandingOptions>("/Branding/Configuration", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Gets branding css.
	 */
	suspend fun getBrandingCss(): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<String>("/Branding/Css", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets branding css.
	 */
	suspend fun getBrandingCss_2(): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<String>("/Branding/Css.css", pathParameters, queryParameters, data)
		return response
	}
}
