// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import java.util.UUID
import kotlin.Any
import kotlin.String
import kotlin.Unit
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response
import org.jellyfin.apiclient.model.api.DisplayPreferencesDto

class DisplayPreferencesApi(
	private val api: KtorClient
) {
	/**
	 * Get Display Preferences.
	 *
	 * @param displayPreferencesId Display preferences id.
	 * @param userId User id.
	 * @param client Client.
	 */
	suspend fun getDisplayPreferences(
		displayPreferencesId: String,
		userId: UUID,
		client: String
	): Response<DisplayPreferencesDto> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["displayPreferencesId"] = displayPreferencesId
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["userId"] = userId
		queryParameters["client"] = client
		val data = null
		val response = api.get<DisplayPreferencesDto>("/DisplayPreferences/{displayPreferencesId}",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Update Display Preferences.
	 *
	 * @param displayPreferencesId Display preferences id.
	 * @param userId User Id.
	 * @param client Client.
	 */
	suspend fun updateDisplayPreferences(
		displayPreferencesId: String,
		userId: UUID,
		client: String,
		data: DisplayPreferencesDto
	): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["displayPreferencesId"] = displayPreferencesId
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["userId"] = userId
		queryParameters["client"] = client
		val response = api.post<Unit>("/DisplayPreferences/{displayPreferencesId}", pathParameters,
				queryParameters, data)
		return response
	}
}
