// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import java.io.InputStream
import kotlin.Any
import kotlin.String
import kotlin.Unit
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response

class HlsSegmentApi(
	private val api: KtorClient
) {
	/**
	 * Gets the specified audio segment for an audio item.
	 *
	 * @param itemId The item id.
	 * @param segmentId The segment id.
	 */
	suspend fun getHlsAudioSegmentLegacyAac(itemId: String, segmentId: String): Response<InputStream> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["itemId"] = itemId
		pathParameters["segmentId"] = segmentId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<InputStream>("/Audio/{itemId}/hls/{segmentId}/stream.aac", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Gets the specified audio segment for an audio item.
	 *
	 * @param itemId The item id.
	 * @param segmentId The segment id.
	 */
	suspend fun getHlsAudioSegmentLegacyMp3(itemId: String, segmentId: String): Response<InputStream> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["itemId"] = itemId
		pathParameters["segmentId"] = segmentId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<InputStream>("/Audio/{itemId}/hls/{segmentId}/stream.mp3", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Gets a hls video segment.
	 *
	 * @param itemId The item id.
	 * @param playlistId The playlist id.
	 * @param segmentId The segment id.
	 * @param segmentContainer The segment container.
	 */
	suspend fun getHlsVideoSegmentLegacy(
		itemId: String,
		playlistId: String,
		segmentId: String,
		segmentContainer: String
	): Response<InputStream> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["itemId"] = itemId
		pathParameters["playlistId"] = playlistId
		pathParameters["segmentId"] = segmentId
		pathParameters["segmentContainer"] = segmentContainer
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response =
				api.get<InputStream>("/Videos/{itemId}/hls/{playlistId}/{segmentId}.{segmentContainer}",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a hls video playlist.
	 *
	 * @param itemId The video id.
	 * @param playlistId The playlist id.
	 */
	suspend fun getHlsPlaylistLegacy(itemId: String, playlistId: String): Response<InputStream> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["itemId"] = itemId
		pathParameters["playlistId"] = playlistId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<InputStream>("/Videos/{itemId}/hls/{playlistId}/stream.m3u8",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Stops an active encoding.
	 *
	 * @param deviceId The device id of the client requesting. Used to stop encoding processes when
	 * needed.
	 * @param playSessionId The play session id.
	 */
	suspend fun stopEncodingProcess(deviceId: String? = null, playSessionId: String? = null):
			Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["deviceId"] = deviceId
		queryParameters["playSessionId"] = playSessionId
		val data = null
		val response = api.delete<Unit>("/Videos/ActiveEncodings", pathParameters, queryParameters, data)
		return response
	}
}
