// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import kotlin.Any
import kotlin.String
import kotlin.Unit
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response
import org.jellyfin.apiclient.model.api.StartupConfigurationDto
import org.jellyfin.apiclient.model.api.StartupRemoteAccessDto
import org.jellyfin.apiclient.model.api.StartupUserDto

class StartupApi(
	private val api: KtorClient
) {
	/**
	 * Completes the startup wizard.
	 */
	suspend fun completeWizard(): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<Unit>("/Startup/Complete", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets the initial startup wizard configuration.
	 */
	suspend fun getStartupConfiguration(): Response<StartupConfigurationDto> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<StartupConfigurationDto>("/Startup/Configuration", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Sets the initial startup wizard configuration.
	 */
	suspend fun updateInitialConfiguration(data: StartupConfigurationDto): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Startup/Configuration", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets the first user.
	 */
	suspend fun getFirstUser2(): Response<StartupUserDto> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<StartupUserDto>("/Startup/FirstUser", pathParameters, queryParameters,
				data)
		return response
	}

	/**
	 * Sets remote access and UPnP.
	 */
	suspend fun setRemoteAccess(data: StartupRemoteAccessDto): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Startup/RemoteAccess", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets the first user.
	 */
	suspend fun getFirstUser(): Response<StartupUserDto> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<StartupUserDto>("/Startup/User", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Sets the user name and password.
	 */
	suspend fun updateStartupUser(data: StartupUserDto): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Startup/User", pathParameters, queryParameters, data)
		return response
	}
}
