// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import java.util.UUID
import kotlin.Any
import kotlin.Boolean
import kotlin.String
import kotlin.collections.List
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response
import org.jellyfin.apiclient.model.BaseItemDtoQueryResult
import org.jellyfin.apiclient.model.SpecialViewOptionDto

class UserViewsApi(
	private val api: KtorClient
) {
	/**
	 * Get user view grouping options.
	 *
	 * @param userId User id.
	 */
	suspend fun getGroupingOptions(userId: UUID): Response<List<SpecialViewOptionDto>> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<List<SpecialViewOptionDto>>("/Users/{userId}/GroupingOptions",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get user views.
	 *
	 * @param userId User id.
	 * @param includeExternalContent Whether or not to include external views such as channels or live
	 * tv.
	 * @param presetViews Preset views.
	 * @param includeHidden Whether or not to include hidden content.
	 */
	suspend fun getUserViews(
		userId: UUID,
		includeExternalContent: Boolean? = null,
		presetViews: String? = null,
		includeHidden: Boolean
	): Response<BaseItemDtoQueryResult> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["includeExternalContent"] = includeExternalContent
		queryParameters["presetViews"] = presetViews
		queryParameters["includeHidden"] = includeHidden
		val data = null
		val response = api.get<BaseItemDtoQueryResult>("/Users/{userId}/Views", pathParameters,
				queryParameters, data)
		return response
	}
}
