// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import java.util.UUID
import kotlin.Any
import kotlin.Boolean
import kotlin.String
import kotlin.Unit
import kotlin.collections.List
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response
import org.jellyfin.apiclient.model.AuthenticateUserByName
import org.jellyfin.apiclient.model.AuthenticationResult
import org.jellyfin.apiclient.model.CreateUserByName
import org.jellyfin.apiclient.model.ForgotPasswordResult
import org.jellyfin.apiclient.model.PinRedeemResult
import org.jellyfin.apiclient.model.QuickConnectDto
import org.jellyfin.apiclient.model.UpdateUserEasyPassword
import org.jellyfin.apiclient.model.UpdateUserPassword
import org.jellyfin.apiclient.model.UserConfiguration
import org.jellyfin.apiclient.model.UserDto
import org.jellyfin.apiclient.model.UserPolicy

class UserApi(
	private val api: KtorClient
) {
	/**
	 * Gets a list of users.
	 *
	 * @param isHidden Optional filter by IsHidden=true or false.
	 * @param isDisabled Optional filter by IsDisabled=true or false.
	 */
	suspend fun getUsers(isHidden: Boolean? = null, isDisabled: Boolean? = null):
			Response<List<UserDto>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["isHidden"] = isHidden
		queryParameters["isDisabled"] = isDisabled
		val data = null
		val response = api.get<List<UserDto>>("/Users", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a user by Id.
	 *
	 * @param userId The user id.
	 */
	suspend fun getUserById(userId: UUID): Response<UserDto> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<UserDto>("/Users/{userId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Updates a user.
	 *
	 * @param userId The user id.
	 */
	suspend fun updateUser(userId: UUID, data: UserDto): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Users/{userId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Deletes a user.
	 *
	 * @param userId The user id.
	 */
	suspend fun deleteUser(userId: UUID): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.delete<Unit>("/Users/{userId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Authenticates a user.
	 *
	 * @param userId The user id.
	 * @param pw The password as plain text.
	 * @param password The password sha1-hash.
	 */
	suspend fun authenticateUser(
		userId: UUID,
		pw: String,
		password: String? = null
	): Response<AuthenticationResult> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["pw"] = pw
		queryParameters["password"] = password
		val data = null
		val response = api.post<AuthenticationResult>("/Users/{userId}/Authenticate", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Updates a user configuration.
	 *
	 * @param userId The user id.
	 */
	suspend fun updateUserConfiguration(userId: UUID, data: UserConfiguration): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Users/{userId}/Configuration", pathParameters, queryParameters,
				data)
		return response
	}

	/**
	 * Updates a user's easy password.
	 *
	 * @param userId The user id.
	 */
	suspend fun updateUserEasyPassword(userId: UUID, data: UpdateUserEasyPassword): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Users/{userId}/EasyPassword", pathParameters, queryParameters,
				data)
		return response
	}

	/**
	 * Updates a user's password.
	 *
	 * @param userId The user id.
	 */
	suspend fun updateUserPassword(userId: UUID, data: UpdateUserPassword): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Users/{userId}/Password", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Updates a user policy.
	 *
	 * @param userId The user id.
	 */
	suspend fun updateUserPolicy(userId: UUID, data: UserPolicy): Response<Unit> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["userId"] = userId
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Users/{userId}/Policy", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Authenticates a user by name.
	 */
	suspend fun authenticateUserByName(data: AuthenticateUserByName): Response<AuthenticationResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<AuthenticationResult>("/Users/AuthenticateByName", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Authenticates a user with quick connect.
	 */
	suspend fun authenticateWithQuickConnect(data: QuickConnectDto): Response<AuthenticationResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<AuthenticationResult>("/Users/AuthenticateWithQuickConnect",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Initiates the forgot password process for a local user.
	 */
	suspend fun forgotPassword(data: String?): Response<ForgotPasswordResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<ForgotPasswordResult>("/Users/ForgotPassword", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Redeems a forgot password pin.
	 */
	suspend fun forgotPasswordPin(data: String?): Response<PinRedeemResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<PinRedeemResult>("/Users/ForgotPassword/Pin", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Creates a user.
	 */
	suspend fun createUserByName(data: CreateUserByName): Response<UserDto> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<UserDto>("/Users/New", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a list of publicly visible users for display on a login screen.
	 */
	suspend fun getPublicUsers(): Response<List<UserDto>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<List<UserDto>>("/Users/Public", pathParameters, queryParameters, data)
		return response
	}
}
