// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.apiclient.api.operations

import java.io.InputStream
import java.util.UUID
import kotlin.Any
import kotlin.Int
import kotlin.String
import org.jellyfin.apiclient.api.client.KtorClient
import org.jellyfin.apiclient.api.client.Response

class VideoAttachmentsApi(
	private val api: KtorClient
) {
	/**
	 * Get video attachment.
	 *
	 * @param videoId Video ID.
	 * @param mediaSourceId Media Source ID.
	 * @param index Attachment Index.
	 */
	suspend fun getAttachment(
		videoId: UUID,
		mediaSourceId: String,
		index: Int
	): Response<InputStream> {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["videoId"] = videoId
		pathParameters["mediaSourceId"] = mediaSourceId
		pathParameters["index"] = index
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.get<InputStream>("/Videos/{videoId}/{mediaSourceId}/Attachments/{index}",
				pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get video attachment.
	 *
	 * @param videoId Video ID.
	 * @param mediaSourceId Media Source ID.
	 * @param index Attachment Index.
	 */
	fun getAttachmentUrl(
		videoId: UUID,
		mediaSourceId: String,
		index: Int
	): String {
		val pathParameters = mutableMapOf<String, Any?>()
		pathParameters["videoId"] = videoId
		pathParameters["mediaSourceId"] = mediaSourceId
		pathParameters["index"] = index
		val queryParameters = emptyMap<String, Any?>()
		return api.createUrl("/Videos/{videoId}/{mediaSourceId}/Attachments/{index}", pathParameters,
				queryParameters)
	}
}
