// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.Boolean
import kotlin.String
import kotlin.Unit
import kotlin.collections.List
import kotlin.collections.buildMap
import kotlin.collections.emptyMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.api.client.extensions.delete
import org.jellyfin.sdk.api.client.extensions.post
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.AuthenticateUserByName
import org.jellyfin.sdk.model.api.AuthenticationInfoQueryResult
import org.jellyfin.sdk.model.api.AuthenticationResult
import org.jellyfin.sdk.model.api.ForgotPasswordDto
import org.jellyfin.sdk.model.api.ForgotPasswordPinDto
import org.jellyfin.sdk.model.api.ForgotPasswordResult
import org.jellyfin.sdk.model.api.NameIdPair
import org.jellyfin.sdk.model.api.PinRedeemResult
import org.jellyfin.sdk.model.api.QuickConnectDto
import org.jellyfin.sdk.model.api.QuickConnectResult

public class AuthenticationApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Authenticates a user by name.
	 */
	public suspend fun authenticateUserByName(`data`: AuthenticateUserByName): Response<AuthenticationResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<AuthenticationResult>("/Users/AuthenticateByName", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Authenticates a user with quick connect.
	 */
	public suspend fun authenticateWithQuickConnect(`data`: QuickConnectDto): Response<AuthenticationResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<AuthenticationResult>("/Users/AuthenticateWithQuickConnect", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Authorizes a pending quick connect request.
	 *
	 * @param code Quick connect code to authorize.
	 * @param userId The user the authorize. Access to the requested user is required.
	 */
	public suspend fun authorizeQuickConnect(code: String, userId: UUID? = null): Response<Boolean> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = buildMap<String, Any?>(2) {
			put("code", code)
			put("userId", userId)
		}
		val data = null
		val response = api.post<Boolean>("/QuickConnect/Authorize", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Create a new api key.
	 *
	 * @param app Name of the app using the authentication key.
	 */
	public suspend fun createKey(app: String): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = buildMap<String, Any?>(1) {
			put("app", app)
		}
		val data = null
		val response = api.post<Unit>("/Auth/Keys", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Initiates the forgot password process for a local user.
	 */
	public suspend fun forgotPassword(`data`: ForgotPasswordDto): Response<ForgotPasswordResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<ForgotPasswordResult>("/Users/ForgotPassword", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Redeems a forgot password pin.
	 */
	public suspend fun forgotPasswordPin(`data`: ForgotPasswordPinDto): Response<PinRedeemResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<PinRedeemResult>("/Users/ForgotPassword/Pin", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get all auth providers.
	 */
	public suspend fun getAuthProviders(): Response<List<NameIdPair>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<NameIdPair>>("/Auth/Providers", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get all keys.
	 */
	public suspend fun getKeys(): Response<AuthenticationInfoQueryResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<AuthenticationInfoQueryResult>("/Auth/Keys", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get all password reset providers.
	 */
	public suspend fun getPasswordResetProviders(): Response<List<NameIdPair>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<NameIdPair>>("/Auth/PasswordResetProviders", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets the current quick connect state.
	 */
	public suspend fun getQuickConnectEnabled(): Response<Boolean> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<Boolean>("/QuickConnect/Enabled", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Attempts to retrieve authentication information.
	 *
	 * @param secret Secret previously returned from the Initiate endpoint.
	 */
	public suspend fun getQuickConnectState(secret: String): Response<QuickConnectResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = buildMap<String, Any?>(1) {
			put("secret", secret)
		}
		val data = null
		val response = api.`get`<QuickConnectResult>("/QuickConnect/Connect", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Initiate a new quick connect request.
	 */
	public suspend fun initiateQuickConnect(): Response<QuickConnectResult> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<QuickConnectResult>("/QuickConnect/Initiate", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Remove an api key.
	 *
	 * @param key The access token to delete.
	 */
	public suspend fun revokeKey(key: String): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("key", key)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.delete<Unit>("/Auth/Keys/{key}", pathParameters, queryParameters, data)
		return response
	}
}
