// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.String
import kotlin.collections.emptyMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.model.api.BrandingOptions

public class BrandingApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Gets branding css.
	 */
	public suspend fun getBrandingCss(): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<String>("/Branding/Css", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets branding css.
	 */
	public suspend fun getBrandingCss2(): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<String>("/Branding/Css.css", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets branding configuration.
	 */
	public suspend fun getBrandingOptions(): Response<BrandingOptions> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<BrandingOptions>("/Branding/Configuration", pathParameters,
				queryParameters, data)
		return response
	}
}
