// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.Boolean
import kotlin.String
import kotlin.collections.List
import kotlin.collections.emptyMap
import kotlin.collections.mutableMapOf
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.model.api.ConfigurationPageInfo

public class DashboardApi(
	private val api: ApiClient
) : Api {
	/**
	 * Gets the configuration pages.
	 *
	 * @param enableInMainMenu Whether to enable in the main menu.
	 */
	public suspend fun getConfigurationPages(enableInMainMenu: Boolean? = null):
			Response<List<ConfigurationPageInfo>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["enableInMainMenu"] = enableInMainMenu
		val data = null
		val response = api.`get`<List<ConfigurationPageInfo>>("/web/ConfigurationPages", pathParameters,
				queryParameters, data)
		return response
	}

	/**
	 * Gets a dashboard configuration page.
	 *
	 * @param name The name of the page.
	 */
	public suspend fun getDashboardConfigurationPage(name: String? = null): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = mutableMapOf<String, Any?>()
		queryParameters["name"] = name
		val data = null
		val response = api.`get`<String>("/web/ConfigurationPage", pathParameters, queryParameters, data)
		return response
	}
}
