// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.String
import kotlin.collections.Collection
import kotlin.collections.buildMap
import kotlin.collections.emptyList
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.MediaSegmentDtoQueryResult
import org.jellyfin.sdk.model.api.MediaSegmentType

public class MediaSegmentsApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Gets all media segments based on an itemId.
	 *
	 * @param itemId The ItemId.
	 * @param includeSegmentTypes Optional filter of requested segment types.
	 */
	public suspend fun getSegmentsAsync(itemId: UUID,
			includeSegmentTypes: Collection<MediaSegmentType>? = emptyList()):
			Response<MediaSegmentDtoQueryResult> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("includeSegmentTypes", includeSegmentTypes)
		}
		val data = null
		val response = api.`get`<MediaSegmentDtoQueryResult>("/MediaSegments/{itemId}", pathParameters,
				queryParameters, data)
		return response
	}
}
