// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.Deprecated
import kotlin.String
import kotlin.collections.buildMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.BaseItemDto

public class MusicGenreApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Gets a music genre, by name.
	 *
	 * @param genreName The genre name.
	 * @param userId Optional. Filter by user id, and attach user data.
	 */
	@Deprecated("This member is deprecated and may be removed in the future")
	public suspend fun getMusicGenre(genreName: String, userId: UUID? = null): Response<BaseItemDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("genreName", genreName)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.`get`<BaseItemDto>("/MusicGenres/{genreName}", pathParameters, queryParameters, data)
		return response
	}
}
