// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.Boolean
import kotlin.ByteArray
import kotlin.String
import kotlin.Unit
import kotlin.collections.List
import kotlin.collections.buildMap
import kotlin.collections.emptyMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.api.client.extensions.delete
import org.jellyfin.sdk.api.client.extensions.post
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.BasePluginConfiguration
import org.jellyfin.sdk.model.api.ConfigurationPageInfo
import org.jellyfin.sdk.model.api.PackageInfo
import org.jellyfin.sdk.model.api.PluginInfo
import org.jellyfin.sdk.model.api.RepositoryInfo

public class PluginApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Cancels a package installation.
	 *
	 * @param packageId Installation Id.
	 */
	public suspend fun cancelPackageInstallation(packageId: UUID): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("packageId", packageId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.delete<Unit>("/Packages/Installing/{packageId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Disable a plugin.
	 *
	 * @param pluginId Plugin id.
	 * @param version Plugin version.
	 */
	public suspend fun disablePlugin(pluginId: UUID, version: String): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(2) {
			put("pluginId", pluginId)
			put("version", version)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<Unit>("/Plugins/{pluginId}/{version}/Disable", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Enables a disabled plugin.
	 *
	 * @param pluginId Plugin id.
	 * @param version Plugin version.
	 */
	public suspend fun enablePlugin(pluginId: UUID, version: String): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(2) {
			put("pluginId", pluginId)
			put("version", version)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<Unit>("/Plugins/{pluginId}/{version}/Enable", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets the configuration pages.
	 *
	 * @param enableInMainMenu Whether to enable in the main menu.
	 */
	public suspend fun getConfigurationPages(enableInMainMenu: Boolean? = null): Response<List<ConfigurationPageInfo>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = buildMap<String, Any?>(1) {
			put("enableInMainMenu", enableInMainMenu)
		}
		val data = null
		val response = api.`get`<List<ConfigurationPageInfo>>("/web/ConfigurationPages", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a dashboard configuration page.
	 *
	 * @param name The name of the page.
	 */
	public suspend fun getDashboardConfigurationPage(name: String? = null): Response<String> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = buildMap<String, Any?>(1) {
			put("name", name)
		}
		val data = null
		val response = api.`get`<String>("/web/ConfigurationPage", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a package by name or assembly GUID.
	 *
	 * @param name The name of the package.
	 * @param assemblyGuid The GUID of the associated assembly.
	 */
	public suspend fun getPackageInfo(name: String, assemblyGuid: UUID? = null): Response<PackageInfo> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("name", name)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("assemblyGuid", assemblyGuid)
		}
		val data = null
		val response = api.`get`<PackageInfo>("/Packages/{name}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets available packages.
	 */
	public suspend fun getPackages(): Response<List<PackageInfo>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<PackageInfo>>("/Packages", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets plugin configuration.
	 *
	 * @param pluginId Plugin id.
	 */
	public suspend fun getPluginConfiguration(pluginId: UUID): Response<BasePluginConfiguration> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("pluginId", pluginId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<BasePluginConfiguration>("/Plugins/{pluginId}/Configuration", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a plugin's image.
	 *
	 * @param pluginId Plugin id.
	 * @param version Plugin version.
	 */
	public suspend fun getPluginImage(pluginId: UUID, version: String): Response<ByteArray> {
		val pathParameters = buildMap<String, Any?>(2) {
			put("pluginId", pluginId)
			put("version", version)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<ByteArray>("/Plugins/{pluginId}/{version}/Image", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a plugin's image.
	 *
	 * @param pluginId Plugin id.
	 * @param version Plugin version.
	 */
	public fun getPluginImageUrl(pluginId: UUID, version: String): String {
		val pathParameters = buildMap<String, Any?>(2) {
			put("pluginId", pluginId)
			put("version", version)
		}
		val queryParameters = emptyMap<String, Any?>()
		return api.createUrl("/Plugins/{pluginId}/{version}/Image", pathParameters, queryParameters)
	}

	/**
	 * Gets a plugin's manifest.
	 *
	 * @param pluginId Plugin id.
	 */
	public suspend fun getPluginManifest(pluginId: UUID): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("pluginId", pluginId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<Unit>("/Plugins/{pluginId}/Manifest", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets a list of currently installed plugins.
	 */
	public suspend fun getPlugins(): Response<List<PluginInfo>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<PluginInfo>>("/Plugins", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Gets all package repositories.
	 */
	public suspend fun getRepositories(): Response<List<RepositoryInfo>> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.`get`<List<RepositoryInfo>>("/Repositories", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Installs a package.
	 *
	 * @param name Package name.
	 * @param assemblyGuid GUID of the associated assembly.
	 * @param version Optional version. Defaults to latest version.
	 * @param repositoryUrl Optional. Specify the repository to install from.
	 */
	public suspend fun installPackage(
		name: String,
		assemblyGuid: UUID? = null,
		version: String? = null,
		repositoryUrl: String? = null,
	): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("name", name)
		}
		val queryParameters = buildMap<String, Any?>(3) {
			put("assemblyGuid", assemblyGuid)
			put("version", version)
			put("repositoryUrl", repositoryUrl)
		}
		val data = null
		val response = api.post<Unit>("/Packages/Installed/{name}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Sets the enabled and existing package repositories.
	 */
	public suspend fun setRepositories(`data`: List<RepositoryInfo>): Response<Unit> {
		val pathParameters = emptyMap<String, Any?>()
		val queryParameters = emptyMap<String, Any?>()
		val response = api.post<Unit>("/Repositories", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Uninstalls a plugin.
	 *
	 * @param pluginId Plugin id.
	 */
	public suspend fun uninstallPlugin(pluginId: UUID): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("pluginId", pluginId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.delete<Unit>("/Plugins/{pluginId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Uninstalls a plugin by version.
	 *
	 * @param pluginId Plugin id.
	 * @param version Plugin version.
	 */
	public suspend fun uninstallPluginByVersion(pluginId: UUID, version: String): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(2) {
			put("pluginId", pluginId)
			put("version", version)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.delete<Unit>("/Plugins/{pluginId}/{version}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Accepts plugin configuration as JSON body.
	 *
	 * @param pluginId Plugin id.
	 */
	public suspend fun updatePluginConfiguration(pluginId: UUID): Response<Unit> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("pluginId", pluginId)
		}
		val queryParameters = emptyMap<String, Any?>()
		val data = null
		val response = api.post<Unit>("/Plugins/{pluginId}/Configuration", pathParameters, queryParameters, data)
		return response
	}
}
