// !!        WARNING
// !! DO NOT EDIT THIS FILE
//
// This file is generated by the openapi-generator module and is not meant for manual changes.
// Please read the README.md file in the openapi-generator module for additional information.
package org.jellyfin.sdk.api.operations

import kotlin.Any
import kotlin.Boolean
import kotlin.String
import kotlin.collections.buildMap
import org.jellyfin.sdk.api.client.ApiClient
import org.jellyfin.sdk.api.client.Response
import org.jellyfin.sdk.api.client.extensions.`get`
import org.jellyfin.sdk.api.client.extensions.delete
import org.jellyfin.sdk.api.client.extensions.post
import org.jellyfin.sdk.model.DateTime
import org.jellyfin.sdk.model.UUID
import org.jellyfin.sdk.model.api.UpdateUserItemDataDto
import org.jellyfin.sdk.model.api.UserItemDataDto

public class UserDataApi(
	private val api: ApiClient,
) : Api {
	/**
	 * Deletes a user's saved personal rating for an item.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 */
	public suspend fun deleteUserItemRating(itemId: UUID, userId: UUID? = null): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.delete<UserItemDataDto>("/UserItems/{itemId}/Rating", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Get Item User Data.
	 *
	 * @param itemId The item id.
	 * @param userId The user id.
	 */
	public suspend fun getItemUserData(itemId: UUID, userId: UUID? = null): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.`get`<UserItemDataDto>("/UserItems/{itemId}/UserData", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Marks an item as a favorite.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 */
	public suspend fun markFavoriteItem(itemId: UUID, userId: UUID? = null): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.post<UserItemDataDto>("/UserFavoriteItems/{itemId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Marks an item as played for user.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 * @param datePlayed Optional. The date the item was played.
	 */
	public suspend fun markPlayedItem(
		itemId: UUID,
		userId: UUID? = null,
		datePlayed: DateTime? = null,
	): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(2) {
			put("userId", userId)
			put("datePlayed", datePlayed)
		}
		val data = null
		val response = api.post<UserItemDataDto>("/UserPlayedItems/{itemId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Marks an item as unplayed for user.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 */
	public suspend fun markUnplayedItem(itemId: UUID, userId: UUID? = null): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.delete<UserItemDataDto>("/UserPlayedItems/{itemId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Unmarks item as a favorite.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 */
	public suspend fun unmarkFavoriteItem(itemId: UUID, userId: UUID? = null): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val data = null
		val response = api.delete<UserItemDataDto>("/UserFavoriteItems/{itemId}", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Update Item User Data.
	 *
	 * @param itemId The item id.
	 * @param userId The user id.
	 */
	public suspend fun updateItemUserData(
		itemId: UUID,
		userId: UUID? = null,
		`data`: UpdateUserItemDataDto,
	): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(1) {
			put("userId", userId)
		}
		val response = api.post<UserItemDataDto>("/UserItems/{itemId}/UserData", pathParameters, queryParameters, data)
		return response
	}

	/**
	 * Updates a user's rating for an item.
	 *
	 * @param itemId Item id.
	 * @param userId User id.
	 * @param likes Whether this M:Jellyfin.Api.Controllers.UserLibraryController.UpdateUserItemRating(System.Nullable{System.Guid},System.Guid,System.Nullable{System.Boolean}) is likes.
	 */
	public suspend fun updateUserItemRating(
		itemId: UUID,
		userId: UUID? = null,
		likes: Boolean? = null,
	): Response<UserItemDataDto> {
		val pathParameters = buildMap<String, Any?>(1) {
			put("itemId", itemId)
		}
		val queryParameters = buildMap<String, Any?>(2) {
			put("userId", userId)
			put("likes", likes)
		}
		val data = null
		val response = api.post<UserItemDataDto>("/UserItems/{itemId}/Rating", pathParameters, queryParameters, data)
		return response
	}
}
