name: SDK / Unstable branch

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: unstable-branch

jobs:
  update:
    name: Update
    runs-on: ubuntu-22.04
    if: ${{ contains(github.repository_owner, 'jellyfin') }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3
        with:
          ref: master
          token: ${{ secrets.JF_BOT_TOKEN }}
      - name: Setup Java
        uses: actions/setup-java@de1bb2b0c5634f0fc4438d7aa9944e68f9bf86cc # tag=v3
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # tag=v2
      - name: Run updateApiSpecUnstable task
        run: ./gradlew :openapi-generator:updateApiSpecUnstable
      - name: Run apiDump task
        run: ./gradlew apiDump
      - name: Commit changes
        run: |
          git config user.name jellyfin-bot
          git config user.email team@jellyfin.org
          git checkout -B openapi-unstable
          git add .
          git commit --allow-empty -m "Update OpenAPI to unstable"
          git push --force origin openapi-unstable
