name: SDK Unstable Branch

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: unstable-branch

jobs:
  unstable-branch-update:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'jellyfin/jellyfin-sdk-kotlin' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ secrets.JF_BOT_TOKEN }}
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Setup Gradle cache
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run updateApiSpecUnstable and apiDump tasks
        run: ./gradlew --build-cache --no-daemon --info updateApiSpecUnstable apiDump
      - name: Commit changes
        run: |
          git config user.name jellyfin-bot
          git config user.email team@jellyfin.org
          git checkout -B openapi-unstable
          git add .
          git commit --allow-empty -m "Update OpenAPI to unstable"
          git push --force origin openapi-unstable
